nav{
    display: flex;
    justify-content: center;
    margin:0px;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.269); */
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.26);

}
.overall{
    padding: 0 5rem 0 5rem ;

}
.view{
    width:100%;
    display: flex;
    /* padding-right: 0px !important; */
}
.box{
    flex: 0 0 50%;
    border: 1px solid rgb(254, 230, 166) ;
    height: 45vh;
    /* padding: 1rem; */
}
.name{
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.select-options{
    margin-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.options{
    /* width: 300px; */
    width:20%;
    height: 200px;
    /* border: 2px solid red; */
}
.options img{
    height: 100%;
    width: 100%;
}

.options img:hover{
    transform: scale(1.1);
}

.mobile-view{
    display: none;
}
.options-btn{
    background-color: transparent ;
    color: teal;
    border: 1px solid teal;
    padding : 5px 1rem 5px 1rem;
}


@media (max-width:567px){
    .warpper{
        width: 100%;
    }
    .overall{
        padding: 0px 0px 0px 0px !important;
        width: 100vw;
        height: 80vh;
        display: flex;
        /* justify-content: center; */
        align-items: center;

    }
    .box{
        height: 20vh;
    }
    .mobile-view-hidden{
        display: none ;
    }
    .mobile-view{
        display: flex;
    }

}